[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/emd-theme"]
	path = .themes/emd-theme
	url = git@github.com:vidblog/emd-theme.git
